<%= form_with model: dealership do |form| %>
<div>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
  <% dealership.errors.full_messages_for(:name).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<br>
<div>
  <%= form.submit %>
</div>
<% end %>